body{
    /* fuentes del sitio importadas de fonts.googleapis.com*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px ;
}

header{
    background-color:black;
    /* padding: 1em 0; */
    padding-bottom: 0;
    padding-top: 1em;
   
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;  */
  
   
}

header h1{
    color: rgba(34, 34, 238, 0.795);
    font-size: 2.5em;
    font-family: 'Bodoni Moda', serif;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

/* desaparece la barra menu*/
.menu_bar {
	display:none;
}

nav{
    background-color: black;
    margin-bottom: 2em;  
}

nav ul{
    overflow:hidden;
    list-style: none;
    margin: 0;
    padding: 0;
} 

nav ul li{

    float:left;
    /* display: inline-block;
    width: 16.3%; */
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 20px;
}

nav ul li i {
    /*margen para que no quede el icono con el texto junto*/
	margin-right:10px;
}

nav ul li a:hover{
    background-color:rgb(32, 32, 145) ;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}


footer h5{
    font-style: italic;
}

nav ul li a.activo{
    background-color:rgb(78, 78, 100) ;
}

.holder{
    width: 860px;
    margin: 0 auto;
}

h2{
    color: rgb(32, 32, 145);
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

 /* inicio home*/
.homeimg{
    margin-bottom: 1.5em;
}

.homeimg img{
 max-width: 100%;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
width: 75%;
padding-right: 2em;
}

.bienvenidos p{
    text-align: justify;
}

.testimonios{
    width: 25%;
}

.testimonio{
background-color: #ccc;
padding: 1em;
}

.testimonio .cita{
font-weight: bold;
font-style: italic;
font-size: 1.4em;
display: block;
}

.testimonio .autor{
font-size: 0.7em;
text-align: center;
margin: 1em 0;
display: block;
}
/* fin home*/

/* inicio empresa*/
.historia p{
    font-size: 0.8em;
    text-align: justify;
}

.empresaimg{
    margin-bottom: 1.5em;
}

.empresaimg img{
 max-width: 100%;
}

.ubicacion p{
    font-size: 0.8em;
}

.ubimap{
    max-width: 100%;
    height: 300px; ;
}

/* fin empresa */

/* inicio servicio*/
.servicio{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: rgb(32, 32, 145);
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid rgb(32, 32, 145);
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.servicio img{
    border-radius: 0.8em;
    background-color: black;
}

.servicio:nth-child(even) img{  /*par 0,2,4*/
float: right;
margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{  /*par 0,2,4*/
    float:left;
}

.servicio:nth-child(odd) img{  /*impar 1,3,5*/
    float: left;
    margin: 0 1em 0 0;
    }
    
 .servicio:nth-child(odd) .info{  /*impar 1,3,5*/
        float:right;
 }
/* fin servicio*/

/* inicio producto */
.portadaimg{
    margin-bottom: 0.2em; 
}

.portadaimg h2{
    margin-bottom: 0; 
}

.portadaimg img{
 /* max-width: 100%; */
 width: 850px;
 height: 200px;
}

.galeria .foto{
    display: inline-block;
    /* float: left; */
    width: 30%;
    height: 30%;
    margin: 1em 0 1em 2.5%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
}

.galeria .foto img{
    width: 100%;
    display: block;
    align-content: center;
}
/* 
.galeria .foto:nth-child(3n+1){
    margin-left: 0;
    border-color: blue;
} */

.galeria .foto:hover{
    border-color: black;
    background-color: gray;
}
/* fin producto */

/* inicio novedad*/
/* fin novedad*/

/* inicio contacto*/

.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna.left{
    border-right: 1px solid gray;
}

.columna.right p{
    font-size: 0.9em;
}

.columna.right ul li{
    font-size: 00.9em;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input,
.formulario textarea{
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}

.formulario input[type="submit"]{
    background-color: rgb(32, 32, 145);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario .acciones{
    text-align: center;
}

/* fin contacto*/

/* 
@media screen and (min-width: 320px) and (max-width: 800px){ */

    @media screen and (max-width: 800px){

    body{
        padding:0;
		margin:0;
    }
        
    header h1{  
        font-size: 1.5em;  
    }

    main h2{
        margin-top: 10px;
    }
    
    .holder{
           width: 95%;
           /* margin-left: 5%; */
           /* margin-right: 5%; */
    }

    .navS {
		width:100%;
		height: 100%;
		margin:0;
		position: fixed;
      /* desaparece el nav */
        left: 100%;
        transition: left 0.3s;
        /* overflow-y: auto; */
        
	}

    .navS_visible{
        left:0;
    } 
    
    nav ul li {
       	display:block;
		float:none;
         /* lalinea para que queden separados los items*/
		border-bottom:1px solid rgba(255,255,255, .3);
	}

    .menu_bar {
        /*hacemos aparecer la barra de menu*/
		display:block;
		width:100%;
		background:black;
        
	}
    
    .menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:black;
		color:white;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar i{
        /*mandamos el icono a la derecha y lo agrandamos*/
		float:right;
		font-size:25px;

	}    

  /* inicio home*/  
    .bienvenidos, .testimonios{
        box-sizing: border-box;
    }
    
    .bienvenidos{
    width: 100%;
    }
           
    .testimonios{
    width: 100%;
    }
/* fin home*/

/* inicio productos*/

.portadaimg img{
    max-width: 100%; 
   }
   
/* fin productos*/

 /* inicio contacto*/   
    .columna{
        width: 100%;
     }

     .columna.left{
        border-right:none;
        border-bottom: 1px solid gray;
    }

/* fin contacto*/

}